body{
    min-width: 380px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    color: var(--color-yellow);
    padding: var(--spacing-large);
}
/* ------------ */
main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ------------ */

/* planet li items */
.planets-card__list {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-large);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-large);
    width: 90%;
}

/* planet card item */
.planets-card__item {
    padding: var(--spacing-large);
    border-radius: 20px;
    text-align: center;
    border: 2px solid var(--color-yellow);
    background-color: var(--color-yellow);
    width: 400px;
    height: 400px;
}

/* hover effect */
.planets-card__item:hover {
    box-shadow: 4px 0 4px 0 var(--color-purple), 0 4px 4px 4px var(--color-purple)
}

/* planet image */
.planets-poster {
    width: auto;  
    height: 50%; 
    overflow: hidden;
    border: 3px solid var(--color-black);
    border-radius: 20px;
    object-fit: contain;
}

/* title */
.planets-card__item h3 {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: var(--color-black);
    font-family: starWarsFont;
    font-size: var(--font-size-medium);
    text-align: center;
    text-wrap: wrap;
}

/* info */
.planets-card__item p {
    margin: 10px 0;
    font-size: var(--font-size-Xsmall);
    color: var(--color-black);
    font-weight: 600;
}

/* info header */
.planets-header {
    font-weight: bold;
    text-transform: uppercase;
}

/* --------- */
.error-message {
    color: var(--color-red);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-thick);
    text-align: center;
}

/* media queries */
@media screen and (max-width: 713px) {
    .planets-card__item {
        max-height: fit-content;
    } 
} 
@media screen and (max-width: 501px) {
    .planets-card__item h3 {
        font-size: var(--font-size-Xsmall);
    } 
}