body{
    min-width: 380px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    color: var(--color-yellow);
    padding: var(--spacing-large);
}
/* ------------ */
main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ------------ */

/* vehicle image */
.vehicles-poster {
    width: 100%;  
    border: 3px solid var(--color-black);
    border-radius: 20px;
}

/* vehicle li items */
.vehicles-card__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    align-items: center;
    justify-content: center;
    padding: var(--spacing-large);
    width: 70%;
}

/* vehicle card item */
.vehicles-card__item {
    padding: var(--spacing-large);
    border-radius: 20px;
    text-align: center;
    border: 2px solid var(--color-yellow);
    background-color: var(--color-yellow);
}

/* hover effect */

/* title */
.vehicles-card__item h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-black);
    font-family: starWarsFont; /* change font */
    font-size: var(--font-size-medium);
}

/* info */
.vehicles-card__item p {
    margin: 10px 0;
    font-size: 16px;
    color: var(--color-black);
    font-size: var(--font-size-small);
    font-weight: 600;
}

.vehicles-header {
    font-weight: bold;
    text-transform: uppercase;
}

